
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogPost.blogTitle}}</div>
<span><strong>Created By:</strong>{{blogPost.postedBy.username}}</span>
<span><strong>on:</strong>{{blogPost.postedOn | date : 'medium'}}</span>
</div>

<div class="panel-body">
{{blogPost.blogContent}}
</div>
</div>
</div>

</div>
{{blogPost.likes}} Likes
<a><span class="glyphicon glyphicon-thumbs-up" ng-class="isLiked?'liked':'default'" ng-click="updateLikes()"></span></a>
<br>
<b>Comments</b>
<ul>
<li ng-repeat="blogComment in blogComments" style="list:'none'">
{{blogComment.commentText}}
<strong>by</strong>{{blogComment.commentedBy.username}}
<strong>on</strong>{{blogComment.commentedOn | date :'medium'}}
</li>
</ul>
<div>
<textarea rows="3" cols="40" ng-model="blogComment.commentText"></textarea>
<button class="btn btn-primary" value="POST COMMENT" ng-click="addComment()">Post Comment</button>
</div>