<input type="text" ng-model="searchTxt"> <label>Search</label>
<table class="table table-striped">

<thead>
<tr>
<th>JobTitle</th>
<th>PostedOn</th>
<th>Skills Required</th>

</tr>

</thead>


<tbody>
<tr ng-repeat="job in jobs | filter:searchTxt">
<td><a href="" ng-click="getJobDetails(job.id)">{{job.jobTitle}}</a></td>
<td>{{job.postedOn | date : 'medium'}}</td>
<td>{{job.skillsRequired}}</td>

</tr>

</tbody>
</table>
<div ng-show="showJobDetails">
JobDetails
<pre>
JobTitle:{{job.jobTitle}}
JobDescription:{{job.jobDescription}}
Skills Required:{{job.skillsRequired}}
Salary : {{job.salary}}
Location: {{job.location}}
Company Name: {{job.companyname}}
Posted On: {{job.postedOn | date:'medium'}}


</pre>
</div>