<span ng-if="pendingRequests.length==0"><b>No Pending Requests</b></span>

<table class="table table-striped">
<tbody>
<tr ng-repeat="request in pendingRequests">
<td>{{request.fromId}}</td>
<td><img src="http://localhost:8089/Collaboration_middleware/getimage/{{request.fromId}}" alt="Image not available" height="40px" width="40px"></td>
<td><a class="btn btn-primary" ng-click="updatePendingRequest(request,'A')">Accept Friend Request</a></td>
<td><a class="btn btn-warning" ng-click="updatePendingRequest(request,'D')">Delete Friend Request</a></td>
</tr>

</tbody>

</table>